.footer {
    background-color: #1c1c1c;
    text-align: center;
    padding: 20px;
    color: #ffffff;
    position: relative;
    z-index: 1;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 10px 0;
}

.social-icons a {
    color: #17a2b8;
    text-decoration: none;
    transition: transform 0.3s, color 0.3s;
}

.social-icons a:hover {
    transform: scale(1.1);
    color: #ffffff;
}

.social-icons i {
    font-size: 2rem;
    transition: transform 0.3s;
}

.social-icons i:hover {
    transform: rotate(360deg);
}
