.team-item {
  margin-bottom: 20px;
  width: 100%;
}

.team-button {
  width: 40%; /* Kisebb szélesség */
  padding: 10px; /* Kisebb padding */
  font-size: 1.2rem; /* Kisebb betűméret */
  font-weight: bold;
  text-align: left;
  background-color: #343a40;
  color: #ffffff;
  border: 2px solid black; /* Szegély hozzáadása */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s; /* Transzformáció hozzáadása */
  margin: 10px 0 10px 20px; /* Fent, alul és balra távolság */
}

.team-button:hover {
  background-color: #17a2b8; /* Háttérszín változás hover állapotban */
  transform: translateY(-2px); /* Enyhén felemeli a gombot hover állapotban */
}


.team-button:hover {
  background-color: #17a2b8;
}
.players-dropdown {
  display: flex;
  flex-wrap: wrap; /* Allows wrapping to multiple rows */
  gap: 10px; /* Space between items */
  list-style: none;
  padding: 15px 20px;
  background-color: #1c1c1c; /* Eredeti háttérszín */
  border-radius: 5px;
  margin-top: 10px;
  justify-content: center; /* Centers the items in the dropdown */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Enyhe árnyék */
  border: 2px solid black;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.player-item {
  width: calc(20% - 10px); /* 20% width for up to 5 items per row */
  margin: 10px 0; /* Adds spacing around each player item */
  display: flex;
  justify-content: center;
}

.team-player-link {
  display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    background-color: #343a40;
    padding: 15px 20px;
    border-radius: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 7px black;
    border: 2px solid black;
}

.team-player-link:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(23, 162, 184, 0.7);
}

.player-image {
  width: 80px; /* Larger size for the player image */
  height: 80px;
  border-radius: 50%;
  margin-bottom: 8px; /* Space between the image and nickname */
  object-fit: cover;
  border: 2px solid #17a2b8;
}
