.navbar {
    background-color: #1c1c1c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: background 0.3s ease;
    border-bottom: 2px solid #3a3a3a;
}

.logo img {
    max-width: 60px;
    height: auto;
    display: block;
    margin: 0 auto;
    mix-blend-mode: screen;
    transition: transform 0.3s ease, color 0.3s ease;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    transition: transform 0.3s ease;
}

.nav-links a, .logout-button {
    color: #f0f0f0;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
    transition: background 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    display: inline-flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.05); 
    cursor: pointer;
    box-sizing: border-box; 
    height: 40px; 
}


.logout-button {
    background: rgba(255, 255, 255, 0.05); 
    border: 2px solid #f0f0f0; 
    font-weight: 600; 
}


.logout-button:hover {
    border: 2;
    background: #f0f0f0; 
    color: #1c1c1c; 
    border-color: #17a2b8; 
}

/* Hover effect for all links and buttons */
.nav-links a:hover, .logout-button:hover {
    color: #17a2b8;
    background: rgba(255, 255, 255, 0.1); /* Lighten the background on hover */
    box-shadow: 0 3px 8px rgba(23, 162, 184, 0.3);
}

.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
}

.hamburger div {
    width: 25px;
    height: 2px;
    background: #f0f0f0;
    transition: transform 0.3s ease;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #1c1c1c;
        width: 100%;
        transform: translateY(100%);
        opacity: 0;
        transition: transform 0.5s ease, opacity 0.5s ease;
        padding: 10px 0;
    }

    .nav-links.active {
        transform: translateY(-10%);
        opacity: 1;
    }

    .hamburger {
        display: flex;
    }

    .hamburger.active div:nth-child(1) {
        transform: rotate(45deg) translateY(6px);
    }

    .hamburger.active div:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active div:nth-child(3) {
        transform: rotate(-45deg) translateY(-6px);
    }
}
