.event-detail {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 10px;
  text-align: center;
}

.event-detail h1 {
  font-size: 2.5rem;
  color: #17a2b8;
}

.event-detail p {
  font-size: 1.2rem;
  margin: 10px 0;
}

.participants-section {
  margin-top: 20px;
}

.participants-section h2 {
  font-size: 1.8rem;
  color: #17a2b8;
  margin-bottom: 10px;
}

.participants-section ul {
  list-style-type: none;
  padding: 0;
}

.participants-section ul ul {
  padding-left: 20px;
}

.participants-section li {
  font-size: 1rem;
  color: #ccc;
}
