.player-detail {
    
    background-color: #1c1c1c !important;
    color: #ffffff;
    text-align: center;
    width: 100%;
    padding: 40px;
    min-height: 100vh;
}


.player-info-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}

.player-info {
    font-size: 2rem;
    flex: 1; 
    margin-right: 20px;
    text-align: left;
}

.team-info {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-logo {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}


.team-members {
    font-size: 2rem;
    margin-top: 40px;
}

.team-members ul {
    display: flex;
    justify-content: center;
    gap: 40px; 
    padding: 0;
    list-style-type: none;
}

.team-members li {
    font-size: 1.8rem;
}

.teammate-link {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #282c34;
    border-radius: 5px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.teammate-link:hover {
    background-color: #17a2b8;
    transform: scale(1.1);
}
