.player-detail {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #1c1c1c;
  color: white;
  min-height: 100vh;
  min-width: 100vw;
}

.player-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.player-icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #17a2b8;
  object-fit: cover;
}

.player-name {
  display: flex;
  align-items: center;
  gap: 10px;
}

.player-name h1 {
  font-size: 2rem;
  color: #17a2b8;
}

.flag-icon {
  width: 48px;
  height: 36px;
  border-radius: 5px;
}

.divider {
  margin: 20px 0;
  border: 0;
  height: 1px;
  background: #17a2b8;
}

.chart-placeholder {
  background-color: #333;
  height: 200px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aaa;
  margin-bottom: 20px;
}

.player-info-box {
  padding: 15px;
  background-color: #282c34;
  border-radius: 10px;
}

.player-info-box p {
  font-size: 1.1rem;
  margin: 10px 0;
}
.chart-placeholder {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aaa;
  margin-bottom: 20px;
}
