.teams-container {
    padding: 20px; /* Párnázás */
    background-color: #212529; /* Háttérszín */
    color: #ffffff; /* Betűszín */
    /* Árnyék */
}

.teams-title {
    text-align: center; /* Középre igazítás */
    color: #17a2b8; /* Szín a címhez */
    margin-bottom: 20px; /* Margó a cím alatt */
    font-size: 2rem; /* Betűméret */
}

.teams-description {
    text-align: center; /* Középre igazítás */
    font-size: 1.2rem; /* Betűméret */
    margin-bottom: 30px; /* Margó a szöveg alatt */
}
.teams-page {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  background-color: #212529;
  color: white;
  min-height: 100vh;
}

.teams-list {
  width: 100%;
}
h1 {
  font-size: 2.5rem; /* Nagyobb betűméret */
  font-weight: bold; /* Félkövér szöveg */
  color: #17a2b8; /* Szín beállítása, amely illik a gombhoz */
  text-align: left; /* Balra igazítás */
  margin: 20px 0; /* Fent és lent margó */
  margin-left: 20px; /* A bal oldalról való távolság */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Szövegéles árnyék */
}
