* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #101010;
  color: #ffffff;
}

.App-header {
  background-color: #1c1c1c !important;
  padding: 20px;
}
