.event-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  max-width: 100%; /* Korlátozzuk a lista szélességét */
  margin: 0 auto; /* Középre igazítás */
}

.event-item {
  width: 100%;
  max-width: 600px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 12px;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s;
  box-sizing: border-box;
  margin-bottom: 20px; /* Margin hozzáadása az elemek közötti távolság növeléséhez */
  border: 1px solid black;
}

.event-item:last-child {
  margin-bottom: 0; /* Az utolsó elem alatti margót eltünteti */
}


.event-link {
  text-decoration: none;
  color: white;
}

.event-item:hover {
  transform: scale(1.05);
  background-color: rgba(23, 162, 184, 0.2);
}

.event-actions {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.join-event-player-button,
.join-event-team-button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.join-event-player-button {
  background-color: #17a2b8;
  color: white;
}

.join-event-player-button:hover {
  background-color: #138496;
}

.join-event-team-button {
  background-color: #28a745;
  color: white;
}

.join-event-team-button:hover {
  background-color: #218838;
}

.join-event-player-button:disabled,
.join-event-team-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.delete-event-button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  background-color: #dc3545;
  color: white;
  transition: background-color 0.3s ease;
}

.delete-event-button:hover {
  background-color: #c82333;
}

.delete-event-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
